/* --------------------------------------------------------------------------- */


/* Basic setup */


/* --------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: #4e4e4e;
    font-family: 'Raleway', Arial;
    font-size: 25px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}


/* -------------------------------------------------------------------------------------------- */


/* section-1 */


/* -------------------------------------------------------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(OmnifoodContents/food_menu_pic.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

h1,
h2 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 140%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
}

h3 {
    font-size: 90%;
    margin-bottom: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.hero_text_box {
    position: absolute;
    width: 1140px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 150px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 300;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}